/* div vom Logo der Bundeswehr */
#logo-bundeswehr {
    z-index: -5;
}

/* Logo der Bundeswehr */
#logo-bundeswehr > img {
    width: 100px;
    opacity: 0.4;
    padding-bottom: 5px;
}

/* Aussehen der Aufgabenliste */
#todo-flex {
    width: 0;
    height: 0;
    opacity: 0;
    transition: all 0.2s ease;
}

/* Aussehen der Aufgabenliste, wenn Sichtbar */
#todo-flex.show {
    opacity: 1;
    width: 100%;
}

/* Aussehen der Aufgabenliste */
#todo-flex + .todo-list {
    height: 0;
    opacity: 0;
    transition: all 0.25s ease;
}

/* Aussehen der Aufgabenliste, wenn Sichtbar */
.todo-list.show {
    opacity: 1;
    height: 100%;
}